* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 200px;
    display: flex;
}

.bottom.rotate .one {
    width: 70%;
}
.bottom.rotate .two {
    width: 30%;
}

.one {
    width: 100%;
    padding: 0 2em;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.two {
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    transition: 0.5s;
}

.one .container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    height: 100%;
    width: 100%;
    gap: 2em;
}
.scan, .add, .print {
    width: 40%;
    height: 50%;
    background: #fc2cd9;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #fff100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}

.add {
    width: 60%;
    border-radius: 0 20px 0 0;
}
.print {
    width: 100%;
}

.scan_div, .add_div, .print_div {
    position: absolute;
    top: -2%;
    bottom: 5%;
    left: 3%;
    right: 0;
    background: #8152fc;
    display: flex;
    align-items: center;
    justify-content: center;

}

.add_div {
    border-radius: 0 20px 0 0;
    left: 2%;

}
